<h1>MY IMAGES</h1>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://static.abhibus.com/offerbanners/Nov2024/16/1731757944-Wedding720x360.webp" class="d-block w-50 h-50" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="https://static.abhibus.com/offerbanners/Jun2024/04/1717449451-apsrtc-bus-offer.webp" class="d-block w-50 h-50" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="images/bus.jpeg" class="d-block w-50 h-50" alt="Image 3">
      </div>
    </div>
  
    <!-- Previous & Next Buttons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
    </div>
  </div>
  